@import "../css/variables.scss";

.home{
    display: flex;
    flex-direction: column;
    gap: 60px;


    h1{
        color: $white;
        text-transform: uppercase;
        font-size: 50px;
        font-weight: 500;
    }

    h3{
        @include h3;
    }

    h4{
        @include h4;
    }

    &__h2{
        display: flex;
        flex-direction: row;
        gap: 20px;
        @include h2;
        cursor: pointer;
    }

    &__hero{
        background-color: $red;
        margin-top: 40px;
        border-radius: 20px;
        display: flex;
        position: relative;


        &-info{
            display: flex;
            flex-direction: column;
            margin-left: 50px;
            position: relative;
            z-index: 99;
            width: 531px;
            gap: 60px;
            justify-content: center;

            &-h{
                display: flex;
                flex-direction: column;
                gap: 17px;
                
                p{
                    color: $white;
                    font-size: 16px;
                    font-weight: 400;
                    max-width: 448px;
                }

                img{
                    position: absolute;
                    margin-left: 340px;
                    margin-top: 10px;
                }
            }
        }

        button{
            @include btn;
            a{
                color: $red;
            }
            max-width: 300px;
        }

        &-img{
            position: relative;
            z-index: 2;

        }
    }

    &__pets{

        &-cards{
            display: flex;
            justify-content: space-between;

            &-small{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 30px;
            }

            &-card{
                @include card;
                background-image: url("/img/pets_img/agir.png");
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                width: 56.8%;
                justify-content: space-between;
                align-items: flex-end;
                padding: 0 18px 18px;
                cursor: pointer;

                &-info{
                    display: flex;
                    gap: 10px;
    
                    p{
                        font-size: 16px;
                        font-weight: 500;
                        color: $white;
                        text-transform: uppercase;
                    }

                }

                &-btn-arrow{
                    @include btn-arr;
                    border-color: #ffffff00;
                    background-color: $white;

                    div{
                        background-color: $black;

                        &::after {
                            background-color: $black;
                        }
    
                        &::before{
                            background-color: $black;
                        }
                    }
                }
            }

            .card-small{
                width: 460px;
                height: 225px;
                background-image: url("/img/pets_img/guchi.png");

                &:last-child{
                    background-image: none;
                    background-color: $red;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;

                    h3{
                        text-align: center;
                    }
                }
            }
        }
        
        &-btn{
            @include btn;
            color: $red;
            width: 260px;
        }   
    }

    &__adopt{

        &-h2{
            @include h2;
        }

        &-block{
            background-color: $grey;
            border-radius: 20px;
            display: flex;
            justify-content: space-around;
            height: 360px;

            &-info{
                margin-top: 8px;
                width: 25em;
                padding: 0 32px;

                &:nth-child(1){
                    p{
                        margin-top: 9px;
                    }
                }

                &:nth-child(2){
                    background-color: $red;
                    border-radius: 20px 20px 0 0;
                    padding: 0 30px;

                    h4,p{
                        color: $white;
                    }
                }

                h4{
                    margin-top: 22px;
                    margin-bottom: 10px;
                }
                
                p{
                    font-size: 12px;
                    margin-top: 38px;
                }

                button{
                    @include btn;
                    width: 100%;
                    margin-top: 105px;
                }
            }
        }
    }
    &__support{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;

        form{
            width: 560px;
            height: 644px;
        }

        &-qna{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 40px;

            &-block{
                width: 260px;
                height: 202px;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                align-items: self-start;
                cursor: pointer;

                &:nth-child(1){
                    background-color: $purple;
                }

                &:nth-child(2){
                    background-color: $green;
                }

                &:nth-child(3){
                    background-color: $pink;
                }

                &:nth-child(4){
                    background-color: $blue;
                }

                &:nth-child(5){
                    background-color: $red;
                    width: 560px;

                    img{
                        padding: 74px 0 0 22px;
                    }

                    button{
                        margin-left: 515px;
                    }
                }

                h4{
                    color: $white;
                    padding: 22px;
                }

                &-btn-arrow{
                    @include btn-arr;
                    border-color: #ffffff00;
                    background-color: $white;
                    position: absolute;
                    width: 31px;
                    height: 31px;
                    margin-top: 158px;
                    margin-left: 216px;

                    div{
                        background-color: $black;
                        width: 16px;
                        left: 5px;

                        &::after {
                            background-color: $black;
                        }
    
                        &::before{
                            background-color: $black;
                        }
                    }
                }
            }
        }
    }
}